# .env
.env
.env.*

# Cache
.ruff_cache/
.cache/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg
.venv/
test/

# Data
op_data/
*.db
exports/

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db

# Docker
.docker/

# Other
app/
cloud/
.claude/
